<h1 mat-dialog-title>Registro de Estudiante</h1>
<mat-dialog-content>
  <form [formGroup]="registroForm" (submit)="onSubmit()">
    <mat-form-field class="form-field-row">
      <mat-label>Estudiante</mat-label>
      <mat-select formControlName="estudiante">
        <mat-option *ngFor="let estudiante of estudiantes" [value]="estudiante.estudiante_id">
          {{estudiante.estudiante_nombres}} {{estudiante.estudiante_apellidos}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="accent">Cancelar</button>
  &nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary" type="submit">Registrar</button>
</mat-dialog-actions>